.skills {
  padding-top: 30px;
}

.skills__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.skills__item {
  color: white;
  text-decoration: none;
}
