.intro {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.intro__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro__image {
  max-width: 400px;
  max-height: 500px;
  border-radius: 20px;
}
.intro__button {
  color: white;
  border: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  text-decoration: underline;
}
.intro__button-link {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 800px) {
  .intro {
    display: flex;
    flex-direction: column;
  }
}
