.intro {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.intro__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-clip-margin: none;
  overflow: none;
}
.intro__image {
  width: 400px;
  height: 500px;
  border-radius: 20px;
}
